<div class="task-list">
  <h3>Task title</h3>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et soluta officiis doloribus expedita voluptatibus tenetur ab facilis voluptate?</p>
</div>

<div class="task-list">
  <h3>Task title</h3>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et soluta officiis doloribus expedita voluptatibus tenetur ab facilis voluptate?</p>
</div>

<div class="task-list">
  <h3>Task title</h3>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et soluta officiis doloribus expedita voluptatibus tenetur ab facilis voluptate?</p>
</div>

